* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}
html {
  scroll-behavior: smooth;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url("martin-jernberg-nE2gf1scItI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
.mainmenu1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mainmenu1 ul li {
  /*list-style: none;*/
  display: inline-block;
  margin: 10px 20px;
  justify-content: center;
}

.mainmenu2 {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  width: 100px;
}
.mainmenu1 ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
.mainmenu1 ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #2491f7;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}
.mainmenu1 ul li a:hover::after {
  width: 100%;
}
.mainmenu2 ul li {
  display: inline-block;
  margin: 10px 20px;
  justify-content: space-evenly;
}
.mainmenu2 ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
.mainmenu2 ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #2491f7;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}
.mainmenu2 ul li a:hover::after {
  width: 100%;
}
.header-text h1 {
  font-size: 200px;
  color: white;
  text-align: center;
  margin-top: 150px;
}
#history {
  padding: 80px 0;
  color: black;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.history-col-1 {
  flex-basis: 35%;
}
.history-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.history-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  color: black;
  font-weight: 600;
}
#Festivals {
  padding: 80px 0;
  color: black;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.festivals-col-2 {
  flex-basis: 35%;
}
.festivals-col-2 img {
  width: 100%;
  border-radius: 15px;
}
.festivals-col-1 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  color: black;
  font-weight: 600;
}
#culture {
  padding: 80px 0;
  color: black;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.culture-col-1 {
  flex-basis: 35%;
}
.culture-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.culture-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  color: black;
  font-weight: 600;
}
#traditions {
  padding: 80px 0;
  color: black;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.traditions-col-2 {
  flex-basis: 35%;
}
.traditions-col-2 img {
  width: 100%;
  border-radius: 15px;
}
.traditions-col-1 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  color: black;
  font-weight: 600;
}
